/* Existing styles */
body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background: #202020; /* Dark background */
    color: #f0f0f0; /* Light text */
}

header {
    background: #151515; /* Darker black */
    color: #f0f0f0; /* Light text */
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping for smaller screens */
    padding: 20px;
}

nav {
    background: #272727; /* Dark grey */
    width: 220px;
    padding: 20px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color: #e74c3c; /* Red links */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20px;
}

section {
    margin-bottom: 40px;
    background: #292929; /* Slightly lighter background */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 20px;
}

h1, h2, h3 {
    color: #e74c3c; /* Red headers */
}

.project {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin-bottom: 40px; /* Added margin to separate from the next section */
}

a {
    color: #e74c3c; /* Red links */
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 25px;
    background: #151515; /* Darker black */
    color: #f0f0f0; /* Light text */
    margin-top: 40px;
    position: relative;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

/* Media Query for mobile devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack elements vertically on small screens */
    }

    nav {
        margin-left: 0;
    }

    main {
        margin-left: 0;
    }

    iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9; /* Maintain a 16:9 aspect ratio */
    max-width: 100%;
    border: none;
	}
.project iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project iframe {
    width: 100%;
    height: auto;
}

}
