body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background: #202020;
    color: #f0f0f0;
}

header {
    background: #151515;
    color: #f0f0f0;
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background: #272727;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #e74c3c;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-container {
    width: calc(50% - 30px);
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Make project-container flexible */
}

.project {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 20px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-wrapper iframe, .video-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-wrapper {
    padding-top: 20px;
}

.project-title {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.tags {
    text-align: center;
    padding: 10px;
}

.tags span {
    background-color: #555;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    display: inline-block;
}

.description {
    padding: 10px;
}

footer {
    text-align: center;
    padding: 25px;
    background: #151515;
    color: #f0f0f0;
    margin-top: 40px;
    position: relative;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
    }

    .project-container {
        width: 100%;
        margin: 10px 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
